@import './reset.css';
@import './element-ui.scss';
@mixin iconImg($bgPng) {
  display: inline-block;
  margin-bottom: 2px;
  width: 24px;
  height: 18px;
  background: no-repeat center center;
  background-image: $bgPng
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #f0f3fa;
}

.top {
  background-color: #23262e;
  color: #fff;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .top-title {
    padding-top: (50px-16px)/2;
    padding-bottom: (50px-16px)/2;
    padding-left: 50px;
    position: absolute;
    font-size: 16px;
  }
  .top-right {
    height: 50px;
    position: absolute;
    left: 200px;
    right: 0;
    .dotClass {
      padding-right: 20px;
      border-right: 1px solid #EBEEF5;
    }
    .pos-right {
      span {
        cursor: pointer;
      }
      font-size: 14px;
      padding:(50px-16px)/2 0;
      float: right;
      padding-right: 30px;
      .el-dropdown {
        color: #fff;
        padding: 0 20px;
      }
    } // box-shadow: 0 1px 3px rgba(0,0,0,.1);
  }
}

.el-menu {
  width: 200px;
}

.left {
  background-color: #393d49;
  position: absolute;
  width: 200px;
  top: 50px;
  bottom: 0; // .left-title{
  // 	height: 45px;
  // 	line-height: 45px;
  // 	padding-left: 25px;
  // 	background-color: #5a8bff;
  // 	color: #fff;
  // 	.title{
  // 		padding-left: 30px;
  // 		background: url(../icons/imgs/10menu.png) 0 center no-repeat;
  // 	}
  // }
  .left-menu {
    position: absolute;
    bottom: 0;
    top: 0px;
    width: 220px;
    overflow: scroll;
    overflow-x: hidden;
    li {
      list-style: none;
      line-height: 45px;
      a {
        display: block;
        overflow: hidden;
        padding-left: 60px;
        line-height: 40px;
        color: #333;
        transition: all .3s;
        position: relative;
        text-decoration: none;
        font-size: 14px;
      }
    }
    li.open {
      height: auto;
      .sub-menu {
        background: #f5f5f5;
      }
      .active {
        .arrow {
          position: absolute;
          top: 16px;
          right: 25px;
          width: 10px;
          height: 10px;
          background: url(../icons/imgs/xia.png) center center no-repeat;
        }
      }
    }
    .i02 {
      background: url(../icons/imgs/2trans.png) 25px center no-repeat;
      border-top: solid 1px #f5f5f5;
      &:hover {
        border-left: 2px solid #5a8bff
      }
    }
    .i03 {
      background: url(../icons/imgs/3list.png) 25px center no-repeat;
      border-top: solid 1px #f5f5f5;
    }
    .i04 {
      background: url(../icons/imgs/4user.png) 25px center no-repeat;
      border-top: solid 1px #f5f5f5;
    }
    .i05 {
      background: url(../icons/imgs/5good.png) 25px center no-repeat;
      border-top: solid 1px #f5f5f5;
    }
    .i06 {
      background: url(../icons/imgs/6store.png) 25px center no-repeat;
      border-top: solid 1px #f5f5f5;
    }
    .i07 {
      background: url(../icons/imgs/7down.png) 25px center no-repeat;
      border-top: solid 1px #f5f5f5;
    }
    .arrow {
      position: absolute;
      top: 16px;
      right: 25px;
      width: 10px;
      height: 10px;
      background: url(../icons/imgs/you.png) center center no-repeat;
    }
  }
}

.left .left-menu .el-menu .el-submenu .el-submenu__title {
  line-height: 45px;
  height: 45px;
  background-color: #393d49;
  color: #fff;
  // padding-left: 24px !important;
}
.left .left-menu .el-menu .el-submenu .el-menu {
  background-color: #23262e;
}
.left .left-menu .el-menu .el-submenu .el-menu .el-menu-item,.el-icon-arrow-down:before{
  color: #fff
}
.left .left-menu .el-menu .el-submenu .el-menu .el-menu-item{
  padding-left: 64px!important;
}
.left .left-menu .el-menu .el-submenu .el-menu .el-menu-item:hover{
  background-color: #74bdff;
}
.left .left-menu .el-submenu [class^=el-icon-]{
  margin-right: 20px;
}

.el-icon-2trans {
  @include iconImg(url(../icons/imgs/2trans.png))
}

.el-icon-3list {
  @include iconImg(url(../icons/imgs/3list.png))
}

.el-icon-4user {
  @include iconImg(url(../icons/imgs/4user.png))
}

.el-icon-5good {
  @include iconImg(url(../icons/imgs/5good.png))
}

.el-icon-6store {
  @include iconImg(url(../icons/imgs/6store.png))
}

.el-icon-7down {
  @include iconImg(url(../icons/imgs/7down.png))
}

.center {
  position: absolute;
  left: 201px;
  top: 50px;
  right: 0px;
  bottom: 0;
  background-color: #f6f5f5;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: auto;
  min-width: 800px;
}
